<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Surestep Systems &amp; Solutions</title>
	
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">  
    <link href="css/main.css" rel="stylesheet"> 
	<link href="css/half-slider.css" rel="stylesheet">        
    <link rel="shortcut icon" href="Images/TitleIconLogo.png">
	
</head>


<body>
	<header id="header">
        <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="Images/NavBar Logo.png" alt="logo" height="50"></a>
                </div>
				<div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html"><i class="fa fa-home" style="margin-left:20px"></i>       Home</a></li>
                        <li><a href="#features" data-toggle="dropdown"><i class="fa fa-cogs"></i>       Services<span style="margin-left:10px" class="fa fa-caret-down"></span></a>
							<ul class="dropdown-menu">
								<li><a href="support.html">Support</a></li>
    							<li><a href="Implementation.html">Implementation</a></li>
    							<li><a href="">Consultation</a></li>								
								<li><a href="Products.html">Training</a></li>
							</ul>
						</li>
						 <li><a href="#features" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i>       Solutions<span style="margin-left:10px" class="fa fa-caret-down"></span></a> 						 	
							<ul class="dropdown-menu multi-column columns-2">	
								<div class="row">
									<div class="col-sm-6">
										<ul class="dropdown-menu multi-column columns-2">								
											<li><a href="Products.html">Products</a></li>
											<li><a href="support.html">Funds Management Systems</a></li>
											<li><a href="Implementation.html">Asset Management Systems</a></li>
											<li><a href="#">Integrated Financial Systems</a></li>								
											<li><a href="Products.html">Budgetary Management Systems</a></li>
											<li><a href="Products.html">Property Management Systems</a></li>
											<li><a href="Products.html">Portfolio Management Systems</a></li>
											<li><a href="Products.html">Donor Fund &amp; Grant Management Systems</a></li>
											<li><a href="Products.html">Sure Chamaa Management Systems</a></li>
											<li><a href="Products.html">Integrated Academic Management Systems</a></li>
											<li><a href="Products.html">Sacco &amp; Microfinance Management Systems</a></li>
										</ul>
									</div>
									<div class="col-sm-6">
										<ul class="dropdown-menu multi-column columns-2">
											<li><a href="Products.html">Human Resource &amp; Payroll Management Systems</a></li>
											<li><a href="Products.html">Fleet Management Systems</a></li>
											<li><a href="Products.html">E-Board Management Systems</a></li>
											<li><a href="Products.html">Sure Hotel Management Systems</a></li>
											<li><a href="Products.html">Agricultural Firm Management Systems</a></li>
											<li><a href="Products.html">Customer Relations Management Systems</a></li>
											<li><a href="Products.html">Hospital Management Systems</a></li>
											<li><a href="Products.html">Enterprise Portals</a></li>
											<li><a href="Products.html">Sure Core Banking Solutions</a></li>
											<li><a href="Products.html">Mobile Solutions (S-Mobile Solutions)</a></li>
										</ul>
									</div>
								</div>
							</ul>							
						</li>                        
                        <li><a href="#portfolio"><i class="fa fa-comments"></i>       FAQs</a></li>
                        <li><a href="#meet-team"><i class="fa fa-globe"></i>       About Us</a></li>
                        <li><a href="contacts.html"><i class="fa fa-phone"></i>       Contact Us</a></li>			
                        <li ><a href="#blog"><i class="fa fa-users"></i>       Team</a></li> 
                        <li><a href="#features" data-toggle="dropdown"><i class="fa fa-database"></i>       Microsoft Dynamics<span style="margin-left:10px" class="fa fa-caret-down"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Microsoft Dynamics NAV</a></li>
								<li><a href="#">Microsoft Dynamics CRM</a></li>
    							<li><a href="#">Microsoft Dynamics AX</a></li>
    						</ul>
						</li> 
						                     
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('Images/tab-laptop-1920x1080.jpg');"></div>
                <div class="carousel-caption">
						
                    <h2></h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('Images/slide 2.jpg');"></div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('Images/Slide 1.jpg');"></div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

<div class="container-fluid">
        <div class="row">
			<div class="col-md-4">
			<h3 align="center">Microsoft Dynamics NAV</h3>
			<p align="center">Microsoft Dynamics NAV is quick to implement, easy-to-use enterprise resource planning (ERP) software that helps more than 100,000 companies worldwide manage their 			accounting and finances, Property Resource Management, and operations.</p>

<p align="center"><img src="Images/DynamicsNAV.png"></p>
			</div>
            <div class="col-md-4">
			<h3 align="center">Microsoft Dynamics CRM</h3>
			<p align="center">Your customers know more than ever before making buying decisions before you can even engage. Your sales team must adapt to the new customer journey. Customer Relationship Management  enable you to zero in, win faster, and sell more.</p>
			
			<p align="center"><img src="Images/DynamicsCRM.png"></p>
			</div>
			<div class="col-md-4">
			<h3 align="center">Microsoft Dynamics AX</h3>
			<p align="center">A business solution that supports both operational and administrative processes of organizations, this single solution comes with localizations in the box for 36 countries. With a specialized focus on manufacturing, retail and public sector.</p>
			<p align="center"><img src="Images/DynamixAX.png"></p>
			
			</div>
       </div>
       <hr>
       <div class="row">
          <div class="col-xs-12">
             <footer>
					<p align="center">SURESTEP SYSTEMS & SOLUTIONS LTD<br>
							Vision plaza 3rd Floor. Suite 2A Mombasa Road<br>
							P.O. BOX 10389 - 00200<br>
							NAIROBI, KENYA.<br>
							TELEPHONE NUMBER: (+254) 20 4400253<br>
							MOBILE: (+254) 724 671307<br>
							info@surestep.co.ke :  www.surestep.co.ke
					</p>
					<p align="center">
						<i class="fa fa-facebook-square"></i>                    
						<i class="fa fa-twitter"></i>
					</p>
			<div class="row">
				 <ul style="text-align:center " class="list-inline">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="AboutUs.html">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="Services.html">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="contacts.html">Contact</a>
                        </li>
				</ul>
			</div>
                    <p align="center">&copy; Copyright 2015 SureStep Systems &amp; Solutions. All rights reserved.</p>
            </footer>
          </div>
       </div>
 </div>


 	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> 
	<script src="js/bootstrap.min.js"></script>
    
    
</body>
</html>